header{
    text-align: center;
}
header p{
    color: white;
    background-color: rgb(134,151,206);
    padding: 10px 30px;
    width: 80px;
    margin: auto;
    margin-top: 30px;
}
html{
    font-family: sans-serif;
}
section{
    text-align: center;
}
section h1 span{
    color: rgb(51,178,216);
}
section p{
    margin-bottom: 50px;
}
section a {
    background-color: black;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 15px;
}