*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.map{
    margin:60px;
}
.map-nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 60px;
    color: rgb(176,151,87);
}
.map-nav ul{
    border: 1.5px solid rgb(176,151,87);
    max-width: fit-content;
}
.map-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(246,246,246);
}
.map-info{
    margin: 40px;
  
}
.map-info__heading{
    margin-top: 10px;
}
.map-info ul {
    margin-top: 20px;
}
.map-info ul li{
    list-style: none;

}
.map-info ul li a{
    color: rgb(176,151,87);
}
.map-map iframe{
    width: 900px;
}
.map-nav ul li:hover{
    color: white;
    background-color: rgb(176,151,87);
    cursor: pointer;
}
