*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.services-section{
    margin: 25px 200px;
}
.services-section__heading{
    text-align: center;
}
.services-section__heading h2{
    font-size: 38px;
}
.services-section__heading p{
    font-size: 13px;
    padding: 20px 0 50px 0;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.service{
    width: 31%;
}
.service{
    text-align: center;
}
.service img{
    width: 80px;
}
.service-name{
    font-size: 22px;
    margin: 17px;
}
.service-desc{
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.6;
}
.service button{
    padding: 11px 23px;
    font-size: 14px;
    margin-top: 17px;
    color: white;
    background-color: rgb(41,55,142);
    border: none;
    cursor: pointer;
}
