*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
@font-face {
    font-family: "space";
    src: url(../font/SpaceGrotesk-Regular.ttf);
}
html{
    font-family: "space";
}
.list-services{
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    /* width: calc(477px*3); */
    /* width: 1500px; */
    gap: 67px;
}
.service{
    position: relative;
    margin: auto auto;
    padding: 59px
 42px 59px 42px;
    border: 2px solid rgb(234,234,238);
    width: 29%;
    overflow: hidden;
}
.opacity{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(173,127,114);
    z-index: -100;
    opacity: 0;
    transition: 0.5s;
}
.service:hover{
    color: white;
}
.service:hover .opacity{
    opacity: 1;
    border: none;
}

.more{
    position: absolute;
    bottom: -42px;
    left: 38px;
    transition: 0.7s;
    opacity: 0;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.service:hover .more{
    opacity: 1;
    translate: 0px -94px;
}
.more .icon{
    color: white;
    margin-left: 10px;
    padding: 8px 9px;
    border-radius: 50px;
    border: solid 1px white;
    font-size: 13px;
}
.more .icon:hover{
    background-color: white;
    color: rgb(173,127,114);
}

.service .symbol{
    /* position: absolute; */
    font-size: 40px;
    color: rgb(164,115,94);
    transition: all 0.3s  ;
}
.service:hover .symbol{
    /* transform: translate(-106px, 0); */
    scale: 0 0  ;
}

.service-title{
    /* position: absolute; */
    font-size: 24px;
    font-weight: 800;
    margin: 26px 0px 15px 0;
    /* transform: translate(0px, -74px); */
    transition: 0.5s;
}
.service:hover .service-title{
    transform: translate(0px, -100px);
}
.service-about{
    /* position: absolute; */
    font-size: 15px;
    opacity: 0.8;
    /* transform: translate(0px, -74px); */
    transition: 0.6s;
    animation-delay: 0.1s;
    animation: move ease-in infinite;
}
@keyframes move{
    80%{
        translate: 0px -60px;
    }
}
.service:hover .service-about{
    transform: translate(0px, -100px);
    
}
