*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-family: sans-serif;
}
section{
    margin: 100px;
}
.heading-form{
    position: relative;
    font-size: 35px;
    font-weight: 520;
}
.heading-form::before{
    content: "";
    width: 65px;
    height: 3.5px;
    background-color:rgb(254,188,69);
    position: absolute;
    bottom: -13px;
}
.form-container{
    margin-top: 50px;
    display: flex;
    
}
.info-heading{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 520;
}
.form-info ul li{
    list-style-type: none;
    font-size: 17px;
    opacity: 0.5;
    padding: 10px 0px;
}
.form-info ul li i{
    font-size: 25px;
    margin-right: 15px;
}
.form-contact{
    margin-left: 125px;
    width: 800px;
}
.contact-heading{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}
.form-contact form input, .form-contact form textarea{
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.form-contact form button{
    padding: 12px 20px;
    color: white;
    background-color: rgb(11,183,181);
    border: none;
    cursor: pointer;
}